---
import BaseHead from '../components/blog/BaseHead.astro';
import BlogHeader from '../components/blog/BlogHeader.astro';
import BlogPost from '../components/blog/BlogPost.astro';
import Footer from '../components/Footer.astro';
import "../styles/basic.css"

const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt } = content;
---

<html lang={content.lang || 'en' }>

<head>
	<BaseHead {title} {description} {permalink} />
</head>

<body>
	<BlogHeader />
	<div class="post-wrapper">
		<BlogPost {title} {author} {heroImage} {publishDate} {alt}>
			<slot />
		</BlogPost>
	</div>
	<Footer />
</body>

</html>

<style>
	body {
		display: flex;
		flex-direction: column;
		min-height: 150vh;
	}

	.post-wrapper {
		flex: 1;
	}

	article :global(main > * + *) {
		margin-top: 1rem;
	}

	article :global(h2) {
		margin-top: 4rem;
	}
</style>